In [1]:
import pandas as pd
from pathlib import Path

In [2]:
project_root = Path("..").resolve()
data_raw = project_root / "data" / "raw"

accounts_path = data_raw / "accounts.csv"
subscriptions_path = data_raw / "subscriptions.csv"

In [3]:
accounts_df = pd.read_csv(accounts_path, parse_dates=["signup_date"])
subscriptions_df = pd.read_csv(
    subscriptions_path,
    parse_dates=["start_date", "end_date"]
)

accounts_df.head()

,account_id,account_name,industry,country,signup_date,referral_source,plan_tier,seats,is_trial,churn_flag
0,A-2e4581,Company_0,EdTech,US,2024-10-16,partner,Basic,9,False,False
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,other,Basic,18,False,True
2,A-0a282f,Company_2,DevTools,US,2024-08-27,organic,Basic,1,False,False
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,other,Basic,24,True,False
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,event,Enterprise,35,False,True

In [4]:
subscriptions_df.head()

,subscription_id,account_id,start_date,end_date,plan_tier,seats,mrr_amount,arr_amount,is_trial,upgrade_flag,downgrade_flag,churn_flag,billing_frequency,auto_renew_flag
0,S-8cec59,A-3c1a3f,2023-12-23,2024-04-12,Enterprise,14,2786,33432,False,False,False,True,monthly,True
1,S-0f6f44,A-9b9fe9,2024-06-11,NaT,Pro,17,833,9996,False,False,False,False,monthly,True
2,S-51c0d1,A-659280,2024-11-25,NaT,Enterprise,62,0,0,True,True,False,False,annual,False
3,S-f81687,A-e7a1e2,2024-11-23,2024-12-13,Enterprise,5,995,11940,False,False,False,True,monthly,True
4,S-cff5a2,A-ba6516,2024-01-10,NaT,Enterprise,27,5373,64476,False,False,False,False,monthly,True

In [8]:
accounts_df.shape

(500, 10)

In [9]:
subscriptions_df.shape

(5000, 14)

In [10]:
accounts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   account_id       500 non-null    object
 1   account_name     500 non-null    object
 2   industry         500 non-null    object
 3   country          500 non-null    object
 4   signup_date      500 non-null    datetime64[ns]
 5   referral_source  500 non-null    object
 6   plan_tier        500 non-null    object
 7   seats            500 non-null    int64
 8   is_trial         500 non-null    bool
 9   churn_flag       500 non-null    bool
dtypes: bool(2), datetime64[ns](1), int64(1), object(6)
memory usage: 32.4+ KB

In [11]:
subscriptions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subscription_id    5000 non-null   object
 1   account_id         5000 non-null   object
 2   start_date         5000 non-null   datetime64[ns]
 3   end_date           486 non-null    datetime64[ns]
 4   plan_tier          5000 non-null   object
 5   seats              5000 non-null   int64
 6   mrr_amount         5000 non-null   int64
 7   arr_amount         5000 non-null   int64
 8   is_trial           5000 non-null   bool
 9   upgrade_flag       5000 non-null   bool
 10  downgrade_flag     5000 non-null   bool
 11  churn_flag         5000 non-null   bool
 12  billing_frequency  5000 non-null   object
 13  auto_renew_flag    5000 non-null   bool
dtypes: bool(5), datetime64[ns](2), int64(3), object(4)
memory usage: 376.1+ KB

In [12]:
subscriptions_df.isnull().sum()

subscription_id         0
account_id              0
start_date              0
end_date             4514
plan_tier               0
seats                   0
mrr_amount              0
arr_amount              0
is_trial                0
upgrade_flag            0
downgrade_flag          0
churn_flag              0
billing_frequency       0
auto_renew_flag         0
dtype: int64

In [18]:
# accounts_df checks

accounts_df[["industry", "country", "plan_tier"]].head()

     industry country   plan_tier
0      EdTech      US       Basic
1     FinTech      IN       Basic
2    DevTools      US       Basic
3  HealthTech      UK       Basic
4  HealthTech      US  Enterprise

In [14]:
accounts_df["plan_tier"].value_counts()

plan_tier
Pro           178
Basic         168
Enterprise    154
Name: count, dtype: int64

In [15]:
accounts_df["churn_flag"].value_counts(dropna=False)

churn_flag
False    390
True     110
Name: count, dtype: int64

In [16]:
accounts_df.isna().mean().sort_values(ascending=False).head(10)

account_id         0.0
account_name       0.0
industry           0.0
country            0.0
signup_date        0.0
referral_source    0.0
plan_tier          0.0
seats              0.0
is_trial           0.0
churn_flag         0.0
dtype: float64

In [17]:
# subscriptions_df checks

subscriptions_df[[
    "account_id",
    "start_date",
    "end_date",
    "plan_tier",
    "mrr_amount",
    "billing_frequency",
    "upgrade_flag",
    "downgrade_flag",
    "churn_flag"
]].head()

,account_id,start_date,end_date,plan_tier,mrr_amount,billing_frequency,upgrade_flag,downgrade_flag,churn_flag
0,A-3c1a3f,2023-12-23,2024-04-12,Enterprise,2786,monthly,False,False,True
1,A-9b9fe9,2024-06-11,NaT,Pro,833,monthly,False,False,False
2,A-659280,2024-11-25,NaT,Enterprise,0,annual,True,False,False
3,A-e7a1e2,2024-11-23,2024-12-13,Enterprise,995,monthly,False,False,True
4,A-ba6516,2024-01-10,NaT,Enterprise,5373,monthly,False,False,False

In [19]:
subscriptions_df["billing_frequency"].value_counts(dropna=False)

billing_frequency
monthly    2539
annual     2461
Name: count, dtype: int64

In [20]:
subscriptions_df["upgrade_flag"].value_counts(dropna=False)

upgrade_flag
False    4471
True      529
Name: count, dtype: int64

In [21]:
subscriptions_df["downgrade_flag"].value_counts(dropna=False)

downgrade_flag
False    4782
True      218
Name: count, dtype: int64

In [22]:
subscriptions_df.isna().mean().sort_values(ascending=False).head(10)

end_date           0.9028
subscription_id    0.0000
account_id         0.0000
start_date         0.0000
plan_tier          0.0000
seats              0.0000
mrr_amount         0.0000
arr_amount         0.0000
is_trial           0.0000
upgrade_flag       0.0000
dtype: float64

In [23]:
# Data ranges and basic relationships

accounts_df["signup_date"].min(), accounts_df["signup_date"].max()

(Timestamp('2023-01-02 00:00:00'), Timestamp('2024-12-31 00:00:00'))

In [24]:
subscriptions_df["start_date"].min(), subscriptions_df["start_date"].max()

(Timestamp('2023-01-09 00:00:00'), Timestamp('2024-12-31 00:00:00'))

In [25]:
subscriptions_df["end_date"].min(), subscriptions_df["end_date"].max()

(Timestamp('2023-04-05 00:00:00'), Timestamp('2024-12-31 00:00:00'))

In [26]:
# How many subscriptions a typical account has and whether multiple subscriptions per account are common

accounts_df["account_id"].nunique(), subscriptions_df["account_id"].nunique()

(500, 500)

In [27]:
subscriptions_df["account_id"].value_counts().describe()

count    500.0000
mean      10.0000
std        3.2713
min        2.0000
25%        7.0000
50%       10.0000
75%       12.0000
max       19.0000
Name: count, dtype: float64

In [29]:
# Check for overlapping subscriptions per account

def has_overlaps_for_account(subs_for_account):
    subs_for_account = subs_for_account.sort_values("start_date")
    prev_end = None
    for _, row in subs_for_account.iterrows():
        start = row["start_date"]
        end = row["end_date"]
        if prev_end is not None and pd.notna(end):
            if start < prev_end:
                return True
        if pd.notna(end):
            prev_end = end
    return False

overlap_flags = (
    subscriptions_df.groupby("account_id")
    .apply(has_overlaps_for_account)
)

overlap_flags.value_counts()

C:\Users\umarm\AppData\Local\Temp\ipykernel_5756\1883836520.py:18: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(has_overlaps_for_account)

False    421
True      79
Name: count, dtype: int64

In [30]:
# Path for customers.csv

project_root = Path("..").resolve()
customers_path = project_root / "data" / "processed" / "customers.csv"

In [31]:
# Check

customers_df = pd.read_csv(customers_path, parse_dates=["signup_date"])
customers_df.head()

,customer_id,customer_name,industry,country,signup_date,initial_plan,is_active
0,A-2e4581,Company_0,EdTech,US,2024-10-16,Basic,0
1,A-43a9e3,Company_1,FinTech,IN,2023-08-17,Basic,0
2,A-0a282f,Company_2,DevTools,US,2024-08-27,Basic,0
3,A-1f0ac7,Company_3,HealthTech,UK,2023-08-27,Basic,0
4,A-ce550d,Company_4,HealthTech,US,2024-10-27,Enterprise,0