In [9]:
import sys
import os

project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

In [12]:
from src.metrics.core import (
    load_customer_month_mrr,
    load_revenue_events,
    get_mrr_by_month,
    get_mrr_components_by_month,
    get_net_new_mrr,
    get_revenue_churn_rate,
    get_active_customers,
)

month_mrr_df = load_customer_month_mrr()
events_df = load_revenue_events()

In [13]:
mrr_by_month = get_mrr_by_month(month_mrr_df)
components = get_mrr_components_by_month(events_df)
net_new = get_net_new_mrr(components)
churn_rate = get_revenue_churn_rate(components, mrr_by_month)
active = get_active_customers(month_mrr_df)

mrr_by_month.head(), components.head(), net_new.head(), churn_rate.head(), active.head()

(     month  mrr_total
 0  2023-01     4684.0
 1  2023-02    15763.0
 2  2023-03    41648.0
 3  2023-04    83436.0
 4  2023-05   169110.0,
 event_type    month  new_mrr  expansion_mrr  contraction_mrr  churn_mrr
 0           2023-01   4684.0            0.0              0.0        0.0
 1           2023-02  10148.0          931.0              0.0        0.0
 2           2023-03  23168.0         2717.0              0.0        0.0
 3           2023-04  28575.0        13213.0              0.0        0.0
 4           2023-05  42466.0        43453.0              0.0     -245.0,
 event_type    month  net_new_mrr
 0           2023-01       4684.0
 1           2023-02      11079.0
 2           2023-03      25885.0
 3           2023-04      41788.0
 4           2023-05      85674.0,
 event_type    month  revenue_churn_rate
 0           2023-01            0.000000
 1           2023-02            0.000000
 2           2023-03            0.000000
 3           2023-04            0.000000
 4           2023-05            0.002936,
      month  active_customers
 0  2023-01                 2
 1  2023-02                 9
 2  2023-03                19
 3  2023-04                34
 4  2023-05                46)

In [14]:
# check how well Net New MRR matches actual MRR changes

merged = mrr_by_month.merge(net_new, on="month", how="left")
merged["mrr_change"] = merged["mrr_total"].diff()

merged[["month", "mrr_total", "mrr_change", "net_new_mrr"]].head(15)

      month  mrr_total  mrr_change  net_new_mrr
0   2023-01     4684.0         NaN       4684.0
1   2023-02    15763.0     11079.0      11079.0
2   2023-03    41648.0     25885.0      25885.0
3   2023-04    83436.0     41788.0      41788.0
4   2023-05   169110.0     85674.0      85674.0
5   2023-06   244097.0     74987.0      74987.0
6   2023-07   363343.0    119246.0     119246.0
7   2023-08   528736.0    165393.0     165393.0
8   2023-09   644272.0    115536.0     115536.0
9   2023-10   826790.0    182518.0     182518.0
10  2023-11  1032139.0    205349.0     205349.0
11  2023-12  1282212.0    250073.0     250073.0
12  2024-01  1538647.0    256435.0     256435.0
13  2024-02  1888127.0    349480.0     349480.0
14  2024-03  2292460.0    404333.0     404333.0